.app-container {
  width: 80%;
  margin: 20px auto;
  /* border: 2px solid greenyellow; */
  padding: 10px 0;
  /* background-color: #fff; */
}

/* styling for when the navlink is active */
.active {
  border-bottom: 3px solid #e95e5e;
  color: #e95e5e;
}

/* styling group and term container */
.group-container,
.term-container {
  box-shadow: 0 0 10px #2f2c2cab;
}

/* term form */
.grid {
  display: grid;
  grid-template-columns: 1fr 7fr 8fr 3fr;
  gap: 20px;
}

/* box shadow */
.shadow {
  box-shadow: 0 0 10px #2f2c2cab;
}

input,
textarea {
  padding-left: 2px;
  border: 0.5px solid black;
  border-radius: 4px;
}

/* flashcard page styles  */
.flashcards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}
.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
}

.avatar {
  background-color: #d8ad74;
}

.detail-main {
  display: grid;
  grid-template-columns: 1fr 1.9fr 0.8fr;
  align-items: flex-start;
  gap: 20px;
}

.detail-navlinks .active {
  color: red;
  border: none;
}

.detailcard {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

/* mediaquery for mobile device */

@media screen and (max-width: 950px) {
  .flashcards {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail-main {
    grid-template-columns: 1fr;
  }
  .dialog {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .app-container {
    width: 90%;
  }
  .grid {
    grid-template-columns: 1fr;
  }

  .flashcards {
    grid-template-columns: 1fr;
  }
  .detailcard {
    grid-template-columns: 1fr;
  }
}
